.footer {
    background-color: #333333;
    color: white;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 155px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    padding: 0;
    gap: 20px;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.footer-nav strong {
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 16px;
    font-weight: 400;
}

.footer-nav li a{
    color: white;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form input {
    border-radius: 30px;
    colo
}