.footer {
    background-color: #333333;
    color: white;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav strong {
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 16px;
    font-weight: 400;
}

.footer-nav li a{
    color: white;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 340px;
}

.footer-social span {
    margin-bottom: 16px;
    display: block;
}

.footer-social ul{
    display: flex;
    gap: 1.25rem;
}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-copy {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-nav ul {
        
    }
}
