.header {
    background-color: blueviolet;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.;
}