.header {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
    background-color: white;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a, .nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover, .nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.menu-icon img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media(max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 0;
        /* right: -100%; */
        width: 200px;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color: #ffffff;
    }
}
