.hero {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content {
    color: white;
    max-width: 388px;
    text-align: center;
}

.hero-content h2 {
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
}