.hero {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content {
    color: white;
    max-width: 355px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outiline {
    background: transparent;
    border: 2px solid white;
    line-height: 23px;
}

.btn-filled {
    background-color: white;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: white;
    border: #6329A2;
}