.top1 {
    grid-area: top1;
    ba
}

.top2 {
    grid-area: top2;
}

.midL {
    grid-area: midL;
}

.midR {
    grid-area: midR;
}

.bottomL {
    grid-area: bottomL;
}

.bottomR {
    grid-area: bottomR;
}