.top1 {
    grid-area: top1;
    background-color: aqua;
}

.top2 {
    grid-area: top2;
    background-color: bisque;
}

.midL {
    grid-area: midL;
    background-color: black;
}

.midR {
    grid-area: midR;
    background-color: blu;
}

.bottomL {
    grid-area: bottomL;
}

.bottomR {
    grid-area: bottomR;
}