.categories-section {
    background-color: aqua;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.category-name {
    font-size: 1.25rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    color: white;
}

.casual {
    background: url(../../images/products/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte {
    background: url(../../images/products/twnia\ exportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../../images/products/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../../images/products/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;
}